:root {
  --light-blue: #00ffff;
  --dark: #343a40;
}

.nav-style {
  cursor: pointer;
  font-size: 28px;
}

nav a {
  color: var(--light-blue);
}
nav a:hover {
  color: var(--light-blue);
  text-decoration: none;
}

.btn-light-blue {
  color: var(--light-blue);
  border-color: var(--light-blue);
  font-weight: bold;
}

.btn-light-blue:hover {
  color: #333;
  background-color: var(--light-blue);
  border-color: var(--light-blue);
}

.btn-light-blue:active {
  background-color: #00d4d4;
}

.container {
  margin: auto;
  max-width: 1100px;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.product-item {
  cursor: pointer;
}

.product-item {
  background-color: var(--dark);
  color: #fff;
  padding: 1rem;
  border-radius: 15px;
  align-items: center;
}

.product-item > div {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.product-detail h1 {
  text-align: center;
}

.product-detail .detail-card {
  display: flex;
  background-color: var(--dark);
  border-radius: 5px;
  color: #fff;
}

.product-detail .detail-card > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
}

.product-detail .detail-card .reputation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #e7e7e7;
  border-radius: 5px;
  padding: 0.2rem;
  color: var(--dark);
}

.comment {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  background-color: var(--dark);
  border-radius: 5px;
  padding: 0.55rem;
  color: var(--light-blue);
}

.comment div {
  text-align: center;
}

.comment p {
  padding-left: 0.5rem;
}

.comment p {
  color: #fff;
}

footer {
  display: block;
  position: relative;
  bottom: 0;
  text-align: center;
  background-color: var(--dark);
  color: #fff;
  margin-top: 3.5rem;
}
